
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    font-family: 'Roboto', sans-serif;
}
.menu .logo{
    color: white;
    font-size: 25px;
    line-height: 70px;
    font-weight: 900;
    margin-left: 20px;
}
.menu ul{
    float: right;
    margin-right: 10px;
}
.menu ul li{
    display: inline-block;
    margin: 30px 15px;
}

.menu ul li a{
    font-size: 14px;
    padding: 8px 6px;
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    color: yellow;
}
.menu {
    background-color: black;
}
/*banner*/
.banner{
    width: 100%;
    position: relative;
    height: 100vh;
    background: url(../img/banner.jpg)no-repeat center center/cover;
    left: 0;
    top: 0;
    z-index: 1;
}
.banner .texto_banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 40%;
    min-height: 20%;
    border-radius: 20px;
    background-color: rgba(0,0,0, 5);
}
.banner .texto_banner p,
.banner .texto_banner h1{
    color: white;
    margin: 0;
    text-align: center;
}
.banner .texto_banner h1{
    font-size: 28px;
}
.banner2{
    width: 100%;
    position: relative;
    height: 100vh;
    background: url(../img/Tema1.etiqueta.jpg)no-repeat center center/cover;
    left: 0;
    top: 0;
    z-index: 1;
}
.banner2 .texto_banner2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 40%;
    min-height: 20%;
    border-radius: 20px;
    background-color: rgba(0,0,0, 5);
}
.banner2 .texto_banner2 p,
.banner2 .texto_banner2 h1{
    color: white;
    margin: 0;
    text-align: center;
}
.banner2 .texto_banner2 h1{
    font-size: 28px;
}
.banner3{
    width: 100%;
    position: relative;
    height: 100vh;
    background: url(../img/banner\ tema2.jpg)no-repeat center center/cover;
    left: 0;
    top: 0;
    z-index: 1;
}
.banner3 .texto_banner3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 40%;
    min-height: 20%;
    border-radius: 20px;
    background-color: rgba(0,0,0, 5);
}
.banner3 .texto_banner3 p,
.banner3 .texto_banner3 h1{
    color: white;
    margin: 0;
    text-align: center;
}
.banner3 .texto_banner3 h1{
    font-size: 28px;
}
/*Quieres somos*/
.nosotros{
    padding: 10px 100px;
    text-align: center;
    margin: 40px 0px;
}
.titulo{
    font-family: 'Amaranth', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 33px;
    text-align: center;
}
.linea{
    width: 200px;
    height: 6px;
    background-color: #00857A;
    margin: 10px auto;
    border-radius: 5px;
    margin-bottom: 30px;
}
.boton{
    background-color: #00857A;
    display: block;
    width: 200px;
    height: 40px;
    margin: 40px auto 0;
    border-radius: 10px;
    text-decoration: none;
    line-height: 15px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}
.boton:hover{
    background-color: #00453F;
    box-shadow: 5px 5px 5px gray;
}
/*{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.titulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
}
.caja img{
    width: 220px;
    height: 280px;
    border-radius: 30px;
}
.caja{
    margin: 15px;
}
.caja p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}*/
/*Servisios*/
.servicios{
    margin: 50px 70px; 

} 

.servicios.contenidos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    
    }
.imagen img{
    width: 190px;
    height: 300px;
    border-radius: 20px;
    margin: o auto;
    display: block;
}
.imagen p{
    text-align: center;
    font-weight: bolder;
    margin: 20px 0;
}
.imagen .boton2{
    background-color: #00857A;
    width: 100px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.imagen .boton2:hover{
    background-color: #00453F;
    box-shadow: 5px 5px 5px gray;
}    
.redes{
    background-color: rgb(5, 60, 148);
    color: rgb(205, 10, 10);
    height: 100px;
    text-align: center;
    padding: 20px;
}
  
    
@media(max-width:700px){
    .hamburger{
        width:30px;
        position: absolute;
        top: 40px;
        transform: translateY(-50%);
    }
     .hamburger span{
        margin-bottom: 3px;
        background-color: white;
        display: block;
        height: 3px;
     }
    .menu .logo{
        margin-left: 50px;
     }
    .menu{
        position: relative;
    }
    nav ul{
        float: none;
        width: 300px;
        padding: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: black;
        margin: 0px;
        padding-top: 60px;
        transition: 1s;
        left: -100%;
        z-index: 2;
    }
    .open{
        left: 0;
    }
    .menu ul li{
        display: block;
        float: none;
    }
    .menu ul li a{
        font-size: 18px;
        padding: 10xp 40px;
    }
    .close{
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 10px;
        top: 15px;
        color: skyblue;
        font-size: 40px;
        cursor: pointer;
    }
}
@media(max-width:870px){
    .servicios.contenidos{
        grid-template-columns: auto auto;

    }
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #67853e;
    padding: 20px;
    color: royalblue;
    text-align: center;

}
nav {

    background-color: black;
    color: aliceblue;
    text-align: center;
}
/*
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    ga

}
*/

article {
   background-color: #c1f8cf;
   color: black;
   grid-column:1/4 ;
}

aside{
    background-color: rgb(255, 64, 0);
    text-align: center;
    grid-column:4/5;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    header{
        flex-direction: column;

    }
}